html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #373737;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

a{
  color: #0275d8;
  text-decoration: none;
}

#logo {
  height: 100%;
  margin: 0 auto;
  display: block;
}

#inconvenience {
  text-align: center;
}

#maintenance {
  margin: 4em 0.5em;
}

#team {
  font-style: italic;
  text-align: right;
  text-align: center;
}

#wiki-colors {
  height: 1em;
  width: 100%;
  margin: 0 auto;
  margin-top: 8em;
  padding: 0;
}

#wiki-colors > .bars {
  height: 0.5em;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  margin-right: -4px;
}

#bottom {
  height: 1em;
  width: 100%;
  margin: 0 auto;
}

#wiki-colors img{
  max-height: 100%;
  max-width: 100%;
}

@media screen and (min-width: 641px) and (max-width: 1279px) {
  #wiki-colors {
    margin-bottom: 1em;
    width: 60%;
   }
}

@media screen and (min-width: 1280px) and (max-width: 1369px) {
  #wiki-colors {
    margin-bottom: 1em;
    width: 50%; }
}

@media screen and (min-width: 1370px) and (max-width: 1920px) {
  #wiki-colors {
    margin-bottom: 1em;
    width: 50%;
  }
}
